<div data-id="user-card">
  <div data-id="picture">
  </div>
  <div data-id="info">
    <div data-id="name">
    <%= @user.name %>
    </div>
    <div data-id="record">
      <div data-id="win">
        <div>Wins</div>
        <div>0</div>
      </div>
      <div data-id="loss">
        <div>Losses</div>
        <div>0</div>
      </div>
      <div data-id="draw">
        <div>Draws</div>
        <div>0</div>
      </div>
    </div>
  </div>
</div>