

  <header>
     <h1 class="main-title"><span class="thin">Chec</span>kers</h1>
     </header>

      <nav>
          <button id="rotate">Rotate Board</button>
    <section id="user-info">
    <%= render "users/card", locals: {user: @user}  %>
  </section>
      <button id="randomColor">Play As Red or Black?</button>
      </nav>
        <main>
        <div id="user-name" data-name="<%= @user.name %>"></div>

    <canvas></canvas>
    <canvas></canvas>

        </main>
       <footer>
       <div id="chat"></div>
   <div>
  <textarea id="current-message"></textarea>
  <button onclick="App.onPressSend(event)">Send</button>
</div>
      </footer>
